@model List<ProductModel>
@{
 
}
<h3>The Product Specification</h3>

<h6>This is a Product sub-folder </h6>
<a href="/product/add" class="btn btn-primary">
    Add Product
</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prodt in Model)
        {
            <tr>
                <td>@prodt.Name</td>
                <td>@prodt.Description</td>
                <td>&#x20A6; @prodt.Price.ToString("N")</td>
                <td>@prodt.Quantity</td>
                <td><a href="/product/edit/@prodt.Id">edit</a></td>
                <td>
                    <form asp-action="Delete" asp-controller="Product" method="post" data-Id="@prodt.Id" onsubmit="return confirmDelete();">
                        @Html.AntiForgeryToken()
                        <input name="_method" type="hidden" value="DELETE" />
                        <input type="hidden" name="id" value="@prodt.Id" />
                        <input type="submit" value="Delete" class="btn btn-danger btn-xs" />
                    </form>
                </td>
            </tr>
        }
    </tbody>






</table>
<script>
    function confirmDelete() 
    {
        return confirm('Are you sure you really want to delete this Product?');
    }
</script>